<div class="container">
    <h1>ゆずるリスト</h1>
        <div class="panel panel-default">
            <div class="row">
                <% @items.each do |item| %>
                <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <%= image_tag item.image_url(:item_image) %>
                                <div class="caption">
                                    タイトル：<%= item.title %><br>
                                    <%= item.user.name %>
                                    
                                        <%= link_to detail_item_path(item) do %>
                                            <div class="btn btn-warning">詳細</div>
                                        <% end %>
                                    <% unless item.accept_user_id.nil? %>
                                        <div class="label label-danger">売り切れ</div>
                                    <% end %>
                                </div>
                                <br>
                            <%= link_to "削除", item, method: "delete", data: {confirm: '削除してもよろしいですか？'} %>
                            
                        </div>
                </div>
                <% end %>
            </div>
        </div>
</div>