<br>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-info">
          
            <div class="panel-heading">
              <h3 class="panel-title">
                <span class="glyphicon glyphicon-info-sign"></span> 
                詳細
              </h3>
            </div>
            
            
            <div class="panel-body">
            <center>
            <%= image_tag @item.image_url(:item_image) %>
            <br><br>
            <%= @item.title %>
            <br><br>
            <%= @item.content %>
            </center>
            
            </div>
        </div>
    </div>
</div>



<br>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-info">
          
            <div class="panel-heading">
              <h3 class="panel-title">
                <span class="glyphicon glyphicon-info-sign"></span> 
                連絡
              </h3>
            </div>
            
            <%= @give_user.name %>
            <%= @receive_user.name %>
            <div class="panel-body">
                
                    <% @chats.each do |chat| %>
                        <div class="panel panel-primary">
                          <div class="col-mod-2">
                            <% if chat.speaker_id == @give_user.id %>
                              <%= image_tag @give_user.image_url(:chat_image), class: 'img-rounded' %>
                            <% else %>
                              <%= image_tag @receive_user.image_url(:chat_image), class: 'img-rounded' %>
                            <% end %>
                          </div>
                          <div class="panel panel-primary col-mod-2">
                            <%= chat.chat_content %>
                          </div>
                        </div>
                        <br>
                      <% end %>
                
                <%= form_for(@chat) do |f| %>
                    内容
                      <%= f.text_area :chat_content %>
                      <%= f.hidden_field :item_id, :value => @item.id %>
                      <%= f.submit "送信" %>
                <% end %>
                
            </div>
        </div>
    </div>
</div>
