<br>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-info">
          
            <div class="panel-heading">
              <h3 class="panel-title">
                <span class="glyphicon glyphicon-info-sign"></span> 
                詳細
              </h3>
            </div>
            
            
            <div class="panel-body">
            <center>
            <%= image_tag @item.image_url(:item_image) %>
            <br><br>
            <%= @item.title %>
            <br><br>
            <%= @item.content %>
            </center>
            
            <%= render 'favorite_form', item: @item %>

            <div class="btn btn-warning">
            もらう
            </div>
                        
            
            </div>
        </div>
    </div>
</div>


<%= link_to "もらう", chat_path(:accept_id => current_user.id) %>



