<br>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-info">
          
            <div class="panel-heading">
              <h3 class="panel-title">
                <span class="glyphicon glyphicon-info-sign"></span> 
                詳細
              </h3>
            </div>
            
            
            <div class="panel-body">
            <center>
            <%= image_tag @item.image_url(:item_image) %>
            </center>
            <br>
            <hr>
            
            <h3><strong><%= @item.title %></strong></h3><hr>
            <% if @item.sold_out_flg != true %>
                 <% if @item.accept_user_id.nil? || @item.accept_user_id == current_user.id || @item.user.id == current_user.id %>
                    <%= link_to "もらう", chat_path(:accept_id => current_user.id), class: "btn btn-info", data:{ :confirm => "「もらう」を選択してもよろしいですか？"} %>
                <% else %>
                        <div class="label label-danger">売り切れ</div>
                <% end %>
            <% else %>
                <div class="label label-danger">売り切れ</div>
            <% end %>
            <%= render 'favorite_form', item: @item %>
            
            
            <hr>
            [ものの詳細]<br>
            <%= @item.content %>
            
       

            </div>
        </div>
    </div>
</div>





