<header>
  
    <div class="masthead">
      <h3 class="text-muted">マグスコ</h3>
      <% if logged_in? %>
        <%= link_to logout_path, method: "delete" do %>
            <div class="btn btn-primary col-md-offset-10">ログアウト</div><br><br>
        <% end %>
        <nav>
          <ul class="nav nav-justified">
            <li><%= link_to '/items/show' do %>
            <span class="glyphicon glyphicon-home"></span>
            新着順
            <% end %>
            </li>
            <li><%= link_to searches_path(current_user) do %>
              <span class="glyphicon glyphicon-search"></span>
              検索
              <% end %> 
            </li>
            
            <li><%= link_to new_item_path(current_user) do %>
              <span class="glyphicon glyphicon-gift"></span>
              ゆずる
              <% end %>
            <li>
              <%= link_to profile_user_path(current_user) do %>
              <span class="glyphicon glyphicon-user"></span>
              プロフィール
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_path(current_user) do %>
              <span class="glyphicon glyphicon-cog"></span>
              設定
              <% end %>
              
            </li>
          </ul>
        </nav>
      <% else %>
        <nav>
          <ul class="nav nav-justified">
            <li><%= link_to "新規登録", '/signup' %></li>
            <li><%= link_to "ログイン", '/login' %></li>
          </ul>
        </nav>
      <% end %>
        
        
      </div>
          
</header>